/* estilo.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Contenedores específicos */
.container.subir-archivo, .container.ver-archivo {
    min-height: 500px; /* Fuerza la altura igual para ambos contenedores */
}

/* Título */
h1 {
    font-size: 1.8rem;
    color: #444;
    margin-bottom: 2.5rem;
}

/* Labels e inputs */
label {
    font-size: 1rem;
    margin: 10px 0 5px;
    text-align: left;
    display: block;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Textarea */
textarea {
    resize: none;
    height: 100px;
}

/* Botones */
button {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


